.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  cursor: pointer;
  border: none;
  background: transparent;
}

.btn-letter {
  background-color: #60bed8;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  width: 55px;
  height: 55px;
  border-radius: 5px;
}

.letters {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  margin: 0 auto;
  width: fit-content;
}
